@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Sans-Serif;
}

.bg-container {
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #3a4452;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}

.calculator form input {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: cyan;
    font-weight: 700;
    cursor: pointer;
    margin: 20px;
    transition: .5s;
}

.calculator form input:hover[type="button"] {
    transform: scale(.88);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border-radius: 20px;
    margin: 0 12px 10px;
    background-color: green;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 30px rgba(0, 0, 0, 0.2);
}

form .display input {
    flex: 1;
    height: 70px;
    text-align: right;
    font-size: 35px;
    box-shadow: none;
    background: transparent;
    color: cyan;
}

form input.equal {
    width: 160px;
}

form input.operator {
    color: #33ffd8;
}

@media (max-width:575px) {
    .bg-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .calculator form input {
        width: 50px;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        margin: 10px;
    }

    form .numbers {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    form .display {
        margin: 10px 15px 20px;
        height: 80px;
    }

    form input.equal {
        width: 130px;
    }

    form .display input {
        padding-right: 16px;
        font-size: 20px;
        color: cyan;
    }
}